[Desktop Entry]
Name=Active Window Control
Name[ca]=Control per a la finestra activa
Name[ca@valencia]=Control per a la finestra activa
Name[en_GB]=Active Window Control
Name[es]=Control de la ventana activa
Name[fi]=Aktiivisen ikkunan hallinta
Name[nl]=Besturing van het actieve venster
Name[pt]=Controlo da Janela Activa
Name[sk]=Ovládanie aktívneho okna
Name[sv]=Aktiv fönsterstyrning
Name[uk]=Керування активним вікном
Name[x-test]=xxActive Window Controlxx
Comment=Plasmoid for advanced active window control.
Comment[ca]=Plasmoide per al control avançat de les finestres actives.
Comment[ca@valencia]=Plasmoide per al control avançat de les finestres actives.
Comment[en_GB]=Plasmoid for advanced active window control.
Comment[es]=Plasmoide para el control avanzado de la ventana activa.
Comment[fi]=Sovelma edistyneeseen aktiivisen ikkunan hallintaan.
Comment[nl]=Plasmoid voor geavanceerde besturing van het actieve venster.
Comment[pt]=Plasmóide para o controlo avançado da janela activa.
Comment[sk]=Plazmoid na pokročilé ovládanie aktívnych okien.
Comment[sv]=Plasmoid för avancerad styrning av aktivt fönster.
Comment[uk]=Плазмоїд для розширеного керування активним вікном.
Comment[x-test]=xxPlasmoid for advanced active window control.xx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kotelnik
X-KDE-PluginInfo-Email=clearmartin@seznam.cz
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Name=org.kde.activeWindowControl
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=https://github.com/kotelnik/plasma-applet-active-window-control
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Windows and Tasks
Icon=window-close
